# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Env
.env
*.env

# Testing / cache
.pytest_cache/
.mypy_cache/
.ruff_cache/
htmlcov/
.coverage

# IDEs
.vscode/
.idea/
